* {
	border: none;
	border-radius: 0;
	font-family: mononokiNerdFont;
	font-size: 14px;
	min-height: 0;
	margin: 0 0px;
}

window#waybar {
	background-color: rgba(26, 27, 38, 0.3);
	border-bottom: none;
	color: #cfc9c2;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

#custom-geny {
	background-color: #f7768e;
	padding-left: 10px;
	padding-right: 7px;
	color: #1a1b26;
	margin: 3px 5px;
	border-radius: 3px;
}

#workspaces {
	margin-right: 6px;
	background-color: #24283b;
	border-radius: 3px;
	margin: 3px 10px;
}

#workspaces button {
	margin: 0 3px;
	padding: 0 5px;
	color: #cfc9c2;
	border-radius: 3px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: inherit;
	border-bottom: none;
	border-radius: 3px;
}

#workspaces button.focused {
	background-color: #b4f9f8;
	color: #282828;
	border-bottom: none;
	border-radius: 3px;
}

#workspaces button.urgent {
	background-color: #f7768e;
}

#mode {
	background-color: #f7768e;
	border-bottom: 3px solid #f7768e;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
	padding: 0 9px;
	margin: 4px 0px;
	background-color: #24283b;
	color: #cfc9c2;
}

#clock {
	border-radius: 3px;
}

label:focus {
	background-color: #000000;
}

#cpu {
	color: #f7768e
}

#network {
	border-radius: 3px 0 0 3px;
	color: #9ece6a;
}

#pulseaudio {
	color: #e0af68;
}

#pulseaudio.muted {
}

#custom-media {
	min-width: 100px;
}

#custom-media.custom-spotify {
	background-color: rgba(0, 0, 0, 0);
	margin-right: 5px;
}

#temperature {
	border-radius: 0 3px 3px 0;
	margin-right: 5px;
	color: #f7768e
}
